html {
  background-color: #2F4F4F;
}
body {
  width: 400px;
  background-color: #5F9EA0;
  border: 3px solid black;
  margin:0 auto;
  padding: 0 20px 20px 20px;
  margin-top: 12%;
}
h1{
	color: #FFF8DC;
	text-align: center;
}
p{
	color: #FFE4E1;
/*	background-color: maroon;*/
/*	text-align: center;*/
}
.btn{
	background-color: #0b2420;
	color: #FFE4E1;
	text-align: center;
	
}
.list{
	margin-left: 30%;
}
.scroll{
	overflow: auto;
  width: 420px; /* Ширина блока */
  height: 300px; /* Высота блока */
/*  padding: 5px; /* Поля вокруг текста */*/
}
/*tr:nth-child (even) {

color:green;

}*/
p:nth-child(even){
	color: #2F4F4F;
}
